.boomerang {
  position: fixed;
}

.boomerang-content {
	position: relative;
	width: 5rem;

	display: flex;
	flex-direction: column;
	transform: scale(0.8);

	transition: opacity 0.2s;
}

.boomerang::before {
	content: ' ';

	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	position: absolute;
	inset: 0;
	margin: auto;

	background-color: #75e0d3;
	transition: opacity 0.2s;
}

.boomerang:not(:hover) .boomerang-content {
	opacity: 0;
}

.boomerang:hover::before {
	opacity: 0;
}

.boomerang-content > img {
	width: 100%;
}
