body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: sans;
}

main {
  display: flex;
}

.boomerang-container {
  width: 10rem;
}

#files {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 4rem;
  padding: 1rem;
  flex-grow: 1;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  font-size: small;
  font-family: sans;
}

.file {
  cursor: grab;
}
